@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: "Sono", Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(crimson, darksalmon);
}

body {
    background-image: linear-gradient(to right, #80b2ef, #b569b1);
}

.line {
  color:  black;
  cursor: default;
  position: relative;
  transition: all 0.5s ease-in;
}

.line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  box-shadow: 0 5px 0 #E8476A;
  background: crimson ;
  transform-origin: bottom right;
  transition: all 0.5s ease-out;
}

.line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line:hover {
    color: crimson;
}


img:hover {
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  filter: blur(2px);
}
/* Top G */

