@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: "Sono", Arial, Helvetica, sans-serif;
}

body {
    margin-top: 1vw;
    background-image: linear-gradient(to right, #80b2ef, #b569b1);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.line {
  color:  black;
  cursor: default;
  position: relative;
  transition: all 0.5s ease-in;
  margin-bottom: 20px;
}

.line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  box-shadow: 0 5px 0 #E8476A;
  background: crimson ;
  transform-origin: bottom right;
  transition: all 0.5s ease-out;
}

.line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line:hover {
    color: crimson;
}


img:hover {
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  filter: blur(2px);
}
.raspberry:hover{
  filter: drop-shadow(0 0 0.75rem rgb(240, 133, 165));
}
.ubuntu{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.ubuntu:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
.ubuntumate{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.ubuntumate:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
.windowsiot{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.windowsiot:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
button{
  cursor: default;
  align-items: center;
  margin-bottom: 10px;
}
.grow { 
  transition: all .2s ease-in-out;
 }
.grow:hover { 
  transform: scale(1.01); 
}
p{
  text-align: center;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
}
footer{
  font-size: small;
  text-align: right;
  margin: 20px 
}
img{
  margin-bottom: 15px;
  
}
.logo{
  height: 20vh;
  display: block;
  margin: auto;
}
.logo:hover{
  filter: drop-shadow(0 0 0.4rem white);

}
/* Top G */
#creators_box {
  color: rgba(0,0,0,0);
  transition: all 0.8s ease-in;
}

#creators_box:hover {
  color: black;
}
.back{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.back:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}

.raspberry:hover {
  cursor: not-allowed;
}


.txt_container {
  border: 2px solid salmon;
  border-radius: 10px;
  box-shadow: 10px 10px 10px salmon;
  max-width: 50%;
  margin: auto;
}

.mid_section {
  border: 2px solid salmon;
  border-radius: 10px;
  box-shadow: 10px 10px 10px salmon;
  max-width: 50%;
  margin: auto;
}