@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: "Sono", Arial, Helvetica, sans-serif;
}

body {
    margin-top: 1vw;
    /* background-image: linear-gradient(to right, #CC2b5e, #7b28db); */
    background-image: url("pics/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: white;
}

.line {
  color:  white;
  cursor: default;
  position: relative;
  transition: all 0.5s ease-in;
  margin-bottom: 20px;
}

.line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  box-shadow: 0 5px 0 #E8476A;
  background: crimson ;
  transform-origin: bottom right;
  transition: all 0.5s ease-out;
}

.line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line:hover {
    color: crimson;
}


/* img:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
} */

.raspberry:hover{
  filter: drop-shadow(0 0 0.75rem rgb(240, 133, 165));
}
.ubuntu{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.ubuntu:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
.ubuntumate{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.ubuntumate:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
.windowsiot{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.windowsiot:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
button{
  cursor: default;
  align-items: center;
  margin-bottom: 10px;
}
.grow { 
  transition: all .2s ease-in-out;
 }
.grow:hover { 
  transform: scale(1.01); 
}
p{
  text-align: center;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
}
footer{
  font-size: small;
  text-align: right;
  margin: 20px 
}
img{
  margin-bottom: 15px;
  
}
.logo{
  height: 20vh;
  display: block;
  margin: auto;
}
.logo:hover{
  filter: drop-shadow(0 0 0.4rem white);

}
/* Top G */
#creators_box {
  color: rgba(0,0,0,0);
  transition: all 0.8s ease-in;
}

#creators_box:hover {
  color: white;
}
.back{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.back:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}

.raspberry:hover {
  cursor: not-allowed;
}

.mid_section {
  padding-left: 15px;
  padding-right: 15px;
}

.fading {
  animation: fadein 2s;
}

#context {
  border: 2px solid white;
  border-radius: 10px;
  max-width: 50%;
  margin: auto;
}

#ubuntu_mate_teszt_elonyok {
  display: none;
}

#ubutnu_mate_teszt_hatrany {
  display: none;
}

#teszt_eredmeny_gomb_ubuntu_elony, #teszt_eredmeny_gomb_windows_elony, #ubuntu_mate_elonyok_gomb {
  color: green;
  background-color: rgba(0,0,0,0);
  transition: all 0.8s linear;
  cursor: pointer;
  border: none;
}

#teszt_eredmeny_gomb_ubuntu_elony:hover, #teszt_eredmeny_gomb_windows_elony:hover, #ubuntu_mate_elonyok_gomb:hover {
  color: green;
  text-shadow: 5px 5px 5px lightgreen;
}

#teszt_eredmeny_gomb_ubuntu_hatrany, #teszt_eredmeny_gomb_windows_elony, #teszt_eredmeny_gomb_windows_hatrany, #ubuntu_mate_gomb_hatrany {
  color:crimson;
  background-color: rgba(0,0,0,0);
  transition: all 0.8s linear;
  cursor: pointer;
  border: none;
}

#teszt_eredmeny_gomb_ubuntu_hatrany:hover, #teszt_eredmeny_gomb_windows_hatrany:hover, #ubuntu_mate_gomb_hatrany:hover {
  color: crimson;
  text-shadow: 5px 5px 5px salmon;
}

#ubuntu_teszt_hatrany {
  display: none;
  animation: fadein 2s;
}

#ubuntu_teszt_elony {
  display: none;
  animation: fadein 2s;
}

#windows_teszt_hatrany {
  display: none;
  animation: fadein 2s;
}

#windows_teszt_elony {
  display: none;
  animation: fadein 2s;
}

#title {
  text-shadow: 3px 3px 3px wheat;
}

ul {
  max-width: 12%;
  min-width: 10%;
  margin: auto;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}