@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: "Sono", Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(crimson, darksalmon);
}

body {
    background-image: linear-gradient(to right, #80b2ef, #b569b1);
}

.line {
  color:  black;
  cursor: default;
  position: relative;
  transition: all 0.5s ease-in;
  margin-bottom: 20px;
}

.line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  box-shadow: 0 5px 0 #E8476A;
  background: crimson ;
  transform-origin: bottom right;
  transition: all 0.5s ease-out;
}

.line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line:hover {
    color: crimson;
}
img:hover{
  filter: drop-shadow(0 0 0.75rem rgb(240, 133, 165));
}
.ubuntu{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.ubuntu:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
.ubuntumate{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.ubuntumate:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
.windowsiot{
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  width: 160px;
}
.windowsiot:hover{
  font-size: 20px;
  color: crimson;
  transition:font-size 0.5s;
  -moz-transition:font-size 0.5s; 
  -webkit-transition:font-size 0.5s; 
  -o-transition:font-size 0.5s;  
}
button{
  cursor: default;
  align-items: center;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.01); }
/* Top G */

